.iconDelete {
    cursor: pointer;
    color: red;
}
.iconUpdate {
    cursor: pointer;
    color: rgb(121, 121, 3);
}

.crear {
    padding-top: -15px;
    color: blue;
}

.botonCrearAlumno {
    margin-left: auto;
    padding-top: -5px !important;
}

.listaAlumnos {
    margin-bottom: 20px;
}

.spppiner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}