<header class="header">
    <h2 class="text-uppercase text-center mt-2 mb-3 text-white"><b>Projecto final Nro 1</b></h2>
    <mat-icon class="mat-18 iconoUsuario">man</mat-icon>
    <nav>
        <ul>
            <li *ngIf="admin">{{Admin.nombre}}</li>
            <li *ngIf="alumno">{{Alumno.nombre}}</li>
            <li><a (click)="alumnosRoute()">Alumnos</a></li>
            <li><a (click)="cursosRoute()">Cursos</a></li>
            <li (click)="desloguearse()">Salir</li>
        </ul>
    </nav>
</header>